.filter__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  z-index: 2;
  background: #fff;
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  background: linear-gradient(to top, #fff, #efefef, #fff);
}

.filter {
  display: flex;
  flex-flow: row nowrap;
}

.filter__section:not(:last-child) {
  margin-right: 20px;
}

.filter__section label {
  margin-right: 5px;
}
